html,
body {
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #808080;
}

a {
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #808080;
  text-decoration: none;
}

p {
  font-size: 14px;
  margin-bottom: 0;
}

h1 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

code[class*="language-text"], pre[class*="language-text"]{
  background: #21CC99!important;
  border-radius: 0;
  color: white;
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  
}

hr {
  margin-top: 30px;
}