html,
body,
a {
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #808080;
}

body {
  margin: 0 20
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  margin-bottom: 0;
}

::selection {
  background: #21CC99;
  color: #fff;
}

h1 {
  font-size: 1.17em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
}

code[class*="language-text"], pre[class*="language-text"]{
  background: #21CC99!important;
  padding: 2px!important;
  border-radius: 0!important;
  color: white!important;
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic,
    'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo,
    Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
  
}

hr {
  margin-top: 30px;
}

.post-tag{
  color: #81E4DA;
  font-size: 12px;
  padding-right: 5px;
}

.post-tag:hover{
  text-decoration: underline;
  text-decoration-color: #81E4DA;
}

pre {
  font-size: 12px!important;
}

.post-text a {
  text-decoration: underline!important;
}